body
{
    background-image: url("../img/tabla-embutidos-opacada.jpg");
    background-size:auto;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
}

.body-opacity
{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
}

/* --------------- Header ------------------------*/
#header_redirect
{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.5% 2% 0.5% 2%;
    justify-content: space-between;
    align-items: center;
    
}
#redirect-btn
{
    text-align: right;
}

#logo-img
{
    background-color: rgba(0,0,0,0.6);
    width: 140px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 6px rgb(229, 255, 0);
    
}
#msj-Welcome
{
    color: white;
    font-family: 'Acme', sans-serif;    
    
}
#links
{
    text-decoration: none;
    align-items: center;
    text-align: center;
    padding: 11px;
    border-radius: 10%;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    margin:5%;
}
#links:hover
{
    background-color:rgba(255, 243, 79, 0.5);
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.767) ;
    border-style: solid;
    border-color: black;
    /*box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.767) ;*/
}
#links:active
{
    font-size: 14px;
}

/*--------------------------------------------------*/

#box-leyenda-header
{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Acme', sans-serif;
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

#btn-carrito
{
    text-decoration: none;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Acme', sans-serif;
    font-size: 10px;
    margin:5%;
    
}
#btn-carrito:hover
{
    border-radius: 10%;
    border-style: solid;
    background-color:rgba(255, 243, 79, 0.5);
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.767) ;
}


#Icon-Carrito:active
{
    width: 25px;
    height: 25px;
}

#Icon-Carrito
{
    width: 30px;
    height: 30px;
}

/* ------------  CSS Tables ---------------------- */

.table-modal-Mercaderia
{
    padding: 5px;
    align-items: center;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.modal-footer{
    font-family: 'Acme', sans-serif;
}

thead
{
    background-color: rgba(12, 100, 0, 0.493);
}
tbody
{
    
    background-color: rgba(148, 255, 157, 0.493);
    
}

tfoot
{
    background-color: rgba(150, 138, 255, 0.418);
}


#modal-body-Fin-Compra
{
    font-family: 'Acme', sans-serif;
}
#label-PedidoYa
{
    background-color: rgba(255, 0, 0, 0.774);
    
}
#label-Salon
{
    background-color: rgba(38, 121, 0, 0.514);
    
}

#label-Delibery
{
    background-color: rgba(0, 2, 121, 0.514);
    
}

#label-PedidoYa:hover
{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.767) ;
    
}
#label-Salon:hover
{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.767) ;
    
}

#label-Delibery:hover
{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.767) ;
    
}

